<a href="/">Home</a>
<h1>Add a todo below:</h1>
<div class="container">    
    <form action="/add" method="post">
        <label for="user">
            Who are you?
            <input type="text" name="name" value="{{name}}">
        </label><br>
        <label for="task">
            What needs to be done?
            <input type="text" name="task" value="{{task}}">
        </label><br>
        <label for="due_date">
            What date does it need to be done by?
            <input type="text" name="due_date" value="{{due_date}}">
        </label><br>
       <input type="submit" name="" value="Submit">
    </form>
</dv>