<div class="container">
    <div>
        <a href="/">Home</a>
        {{#each tasks}}
        <div class="task">
            <p>{{task}}<br>
            {{due_date}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<a href="/add">Add Task</a>
<a href="/delete">Delete Task</a>