<h1>What task would you like to delete?</h1>

<div class="add_container">
    <form action="/delete" method="post">
    <label for="task">
            What task would you like to delete?
            <input type="text" name="task" value="{{task}}">
        </label>
        <input type="submit" name="" value="Submit">
    </form>
</div>