<div class="container">
    <div>
        <a href="/">Home</a>
        {{#each tasks}}
        <div class="task">
            <p>{{task}}</p>
        </div>
        {{/each}}
    </div>
</div>

<a href="/add">Add Task</a>